html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:'verdana';
    background: #B6B6B6;
}
#controls {
    background: #BBDEFB;
    padding: 15px;
}
button {
    border:none;
    border-radius: 2px;
    padding: 8px 10px;
    margin: 2px;
    background: #1976D2;
    color: white;
    transition: all .35s ease;
}
button:hover {
    cursor: pointer;
    background:#03A9F4;
}


.icon-container {
    top: .2em;
    left: .2em;
    position: relative;
    background: #2196F3;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    cursor: pointer;
    font-size: 6em;
    transition: all .35s ease-in-out;
    overflow: hidden;
}
.icon-holder {
    transition: all .35s ease-in-out;
    padding: 1.45em 1.5em;
}
.icon-bar {
    border: transparent;
    width: 2em;
    height: .3em;
    background: white;
    transition: all .35s ease-in-out;
    position: absolute;
}
.bar1, .bar2, .bar3 {
    margin: .9em 0;
}
/**
 * Hamburger
 */

.hamburger>.bar1 {
    margin: .3em 0;
}
.hamburger>.bar3 {
    margin: 1.5em 0;
}
/**
 * Cross
 */

.cross>.bar1 {
    transform: rotate(90deg);
}
.cross>.bar3 {
    opacity: 0;
    transform: rotate(-90deg);
}
/**
 * Close
 */

.close>.bar1 {
    transform: rotate(45deg);
}
.close>.bar2 {
    transform: rotate(-45deg);
}
.close>.bar3 {
    opacity: 0;
    transform: rotate(45deg);
}
/**
 * Arrow left
 */

.arrow-left>.bar1 {
    width: 1.5em;
    margin: .47em 0 0 -.33em;
    transform: rotate(-45deg);
}
.arrow-left>.bar2 {
    transform: none;
}
.arrow-left>.bar3 {
    margin: 1.33em 0 0 -.33em;
    width: 1.5em;
    transform: rotate(45deg);
}
/**
 * Arrow right
 */

.arrow-right>.bar1 {
    width: 1.5em;
    margin: .47em 0 0 .8em;
    transform: rotate(45deg);
}
.arrow-right>.bar2 {
    transform: none;
}
.arrow-right>.bar3 {
    margin: 1.33em 0 0 .8em;
    width: 1.5em;
    transform: rotate(-45deg);
}
/**
 * Arrow up
 */

.arrow-up>.bar1 {
    width: 1.5em;
    margin: .3em 0 0 -.18em;
    transform: rotate(-45deg);
}
.arrow-up>.bar2 {
    transform: rotate(90deg);
}
.arrow-up>.bar3 {
    margin: .3em 0 0 .68em;
    width: 1.5em;
    transform: rotate(45deg);
}
/**
 * Arrow down
 */

.arrow-down>.bar1 {
    width: 1.5em;
    margin: 1.5em 0 0 -.18em;
    transform: rotate(45deg);
}
.arrow-down>.bar2 {
    transform: rotate(90deg);
}
.arrow-down>.bar3 {
    margin: 1.5em 0 0 .68em;
    width: 1.5em;
    transform: rotate(-45deg);
}
/**
 * Check
 */

.check>.bar1 {
    width: 1em;
    margin: 1.1035em 0 0 0;
    transform: rotate(45deg);
}
.check>.bar2 {
    opacity: 0;
}
.check>.bar3 {
    margin: .9em 0 0 0.5em;
    transform: rotate(-45deg);
}
/**
 * Pause
 */

.pause>.bar1 {
    margin: .8em 0 0 .5em;
    height: .5em;
    transform: rotate(90deg);
}
.pause>.bar2 {
    opacity: 0;
}
.pause>.bar3 {
    margin: .8em 0 0 -.5em;
    height: .5em;
    transform: rotate(90deg);
}
/**
 * Stop
 */

.stop>.bar1 {
    margin: .6em 0 0 .5em;
    height: 1em;
    transform: rotate(90deg);
}
.stop>.bar2 {
    opacity: 0;
}
.stop>.bar3 {
    margin: .6em 0 0 -.5em;
    height: 1em;
    transform: rotate(90deg);
}
/**
 * Play
 */

.play>.bar1 {
    margin: 0 0 0 .3em;
    height: 0;
    width: 3em;
    background: transparent;
    border-top: 1em solid transparent;
    border-left: 2em solid white;
}
.play>.bar2 {
    opacity: 0;
}
.play>.bar3 {
    margin: 1em 0 0 .3em;
    height: 0;
    width: 3em;
    background: transparent;
    border-bottom: 1em solid transparent;
    border-left: 2em solid white;
}
/**
 * Search
 */

.search>.bar1 {
    margin: 0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: transparent;
    border: .2em solid white;
    box-sizing: border-box;
}
.search>.bar2 {
    opacity: 0;
}
.search>.bar3 {
    width: .8em;
    height: .2em;
    margin: 2em 0 0 -.4em;
    transform: rotate(-45deg);
}
/**
 * Equals
 */

.equals>.bar1 {
    margin: .5em 0 0 0;
}
.equals>.bar2 {
    opacity: 0;
}
.equals>.bar3 {
    margin: 1.3em 0 0 0;
}
/**
 * Min
 */
.min>.bar1 {

}
.min>.bar2 {
    opacity: 0;
}
.min>.bar3 {
    opacity: 0;
}

/**
 * Closing animation
 */

.closing .bar1, .closing .bar2, .closing .bar3 {
    transform: none;
    opacity: 0;
    margin: 0 0 0 -1em;
}
.closing .icon-holder {
    padding: 0;
}
.closing {
    width: 0;
    height: 0;
    opacity: 0;
    margin-left: 2.5em;
    margin-top: 2.5em;
}
